<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>Newsletter</title>
</head>
<body>

    <div class="container">
        {% if error %}
            <div class="alert alert-danger mx-auto w-50" role="alert">
                {{ error }}
            </div>
        {% elif success %}
        <div class="alert alert-success mx-auto w-50" role="alert">
            {{ success }}
        </div>

        {% endif %}



        <div class="info"></div>

        <h2 class="text-center">Subscribe to the newsletter</h2>

        <form class="w-50 mx-auto" action="/" method="post">
            <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control valodate" id="name" name="name" value="{{ name }}">
          </div>

          <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ email }}" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>